<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Rules for WeakDelegates" Description="Code analysis rules for WeakDelegates.csproj." ToolsVersion="14.0">
  <IncludeAll Action="Warning" />
  <Rules AnalyzerId="ClrHeapAllocationAnalyzer" RuleNamespace="ClrHeapAllocationAnalyzer">
    <Rule Id="HeapAnalyzerExplicitNewAnonymousObjectRule" Action="None" />
    <Rule Id="HeapAnalyzerExplicitNewArrayRule" Action="None" />
    <Rule Id="HeapAnalyzerExplicitNewObjectRule" Action="None" />
    <Rule Id="HeapAnalyzerImplicitNewArrayCreationRule" Action="None" />
  </Rules>
  <Rules AnalyzerId="CodeCracker.CSharp" RuleNamespace="CodeCracker.CSharp">
    <Rule Id="CC0001" Action="None" />
    <Rule Id="CC0105" Action="None" />
  </Rules>
  <Rules AnalyzerId="RefactoringEssentials" RuleNamespace="RefactoringEssentials">
    <Rule Id="RECS0091" Action="None" />
    <Rule Id="RECS0129" Action="None" />
    <Rule Id="RECS0145" Action="None" />
  </Rules>
  <Rules AnalyzerId="Roslynator.CSharp.Analyzers" RuleNamespace="Roslynator.CSharp.Analyzers">
    <Rule Id="RCS1010" Action="None" />
    <Rule Id="RCS1012" Action="Warning" />
  </Rules>
</RuleSet>